<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather-About</title>
</head>

<body>
    {{>header}}
    <div class="about">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora pariatur natus vitae fugit vel beatae
            obcaecati, similique quod ipsum repellendus, aliquid quisquam incidunt, ad sapiente recusandae. Rem culpa
            est
            saepe necessitatibus quibusdam incidunt tempora. Molestiae neque ad distinctio unde harum aspernatur
            voluptate
            fugiat deleniti eos, porro nam quam? Vitae, reiciendis.</p>
    </div>
    {{>footer}}
</body>

</html>